[defaults]
# Which file defines my hosts and groups
inventory = inventory.ini
# Plaintext file containing the vault password (gitignored)
vault_password_file = .vault_pass
# Skip SSH host key confirmation on first connection
host_key_checking = False
